%h1 Listing test2s

%table
  %tr
    %th
    %th
    %th

  - @test2s.each do |test2|
    %tr
      %td= link_to 'Show', test2
      %td= link_to 'Edit', edit_test2_path(test2)
      %td= link_to 'Destroy', test2, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Test2', new_test2_path
