<div id="content"><!--start content-->
			<div id="topcolumn">
				<div class="header">
					<p>A <b>one stop shop</b> for you to select and automatically <b>provision the services you need to keep</p>
					<p>your business up and running</b></p>		
				</div>
				<div class="topcolumn_mine">
						<ul>
							<li><span>Incredible <b>IT Services</b></span></li>
							<li>
								<p>Select from a range of white label services including</p>
								<p>company portal, company social directory, cloud</p>
								<p>storage, security and administration, aswell as</p>
								<p>monitoring & control.</p>
							</li>
							<li>
								<a href="#" class="underline">Lern More</a>
							</li>
						</ul>
						<ul class="left_ul">
							<li><span>Best <b>Communications</b></span></li>
							<li>
								<p>A fast, convenient and cost effective way of equipping</p>
								<p>your business with the hosted IPBX and other services</p>
								<p>needed to keep pace with customers` demands.</p>
							</li>
							<li>
								<a href="#" class="underline">Lern More</a>
							</li>
						</ul>
						<ul class="left_ul">
							<li><span>Business <b>Applications</b></span></li>
							<li>
								<p>Ensure your employees are equipped with the</p>
								<p>office tools and business productivity apps needed</p>
								<p>for maximum productivity</p>
							</li>
							<li>
								<a href="#" class="underline">Lern More</a>
							</li>
						</ul>
				</div>
			</div>
			<div id="bottomcolumn"><!--start bottomcolumn-->
			    <p>Over <b>100,000 bussinesses</b> use Mobile Tribe.</p>
				<div id="mobile_logo">
				     <ul>
						<li><a href="#"><img src="/assets/PG.png"></a></li>
						<li><a href="#"><img src="/assets/sixflags.png"></a></li>
						<li><a href="#"><img src="/assets/balfour.png"></a></li>
						<li><a href="#"><img src="/assets/jaylormade.png"></a></li>
						<li><a href="#"><img src="/assets/greygroup.png"></a></li>
						<li><a href="#"><img src="/assets/pandora.png"></a></li>
						<li><a href="#"><img src="/assets/giants.png"></a></li>
						<li><a href="#"><img src="/assets/media.png"></a></li>
						<li><a href="#"><img src="/assets/cleare-chanel.png"></a></li>
						<li><a href="#"><img src="/assets/izvizio.png"></a></li>
					 </ul>
				</div>
			</div><!--end bottomcolumn-->
		</div><!--end content-->