- content_for :top_bar do
  .simple_busines
    Simplify your digital business!
  .ict_text
    %h2 ICT Cloud Services - For Small and Medium Businesses
  .ict_description
    Select and provision all your office applications, services and devices from one easy to use location
  #services_slider
    .carousel-container
      #carousel
        .carousel-feature
          %a{:href => "#"}
            %img.carousel-image{:alt => "Image Caption", :src => "/assets/slider/sample1.jpg"}/
          .carousel-caption
        .carousel-feature
          %a{:href => "#"}
            %img.carousel-image{:alt => "Image Caption", :src => "/assets/slider/sample2.jpg"}/
          .carousel-caption
        .carousel-feature
          %a{:href => "#"}
            %img.carousel-image{:alt => "Image Caption", :src => "/assets/slider/sample3.jpg"}/
          .carousel-caption
        .carousel-feature
          %a{:href => "#"}
            %img.carousel-image{:alt => "Image Caption", :src => "/assets/slider/sample4.jpg"}/
        .carousel-feature
          %a{:href => "#"}
            %img.carousel-image{:alt => "Image Caption", :src => "/assets/slider/sample5.jpg"}/
          .carousel-caption
    .right_but
      .verx
        %img{:src => "/assets/strelka_verx.png"}/
      .center_up
        %a{:href => "#"}
          %img{:src => "/assets/signupnow.png"}/
      .niz
        %img{:src => "/assets/strelka_niz.png"}/
#content
  / start content
  #topcolumn
    .header
      %p
        A
        %b one stop shop
        for you to select and automatically
        %b provision the services you need to keep
      %p
        your business up and running
    .topcolumn_mine
      %ul
        %li
          %span
            Incredible
            %b IT Services
        %li
          %p Select from a range of white label services including
          %p company portal, company social directory, cloud
          %p storage, security and administration, aswell as
          %p monitoring & control.
        %li
          %a.underline{:href => "#"} Lern More
      %ul.left_ul
        %li
          %span
            Best
            %b Communications
        %li
          %p A fast, convenient and cost effective way of equipping
          %p your business with the hosted IPBX and other services
          %p needed to keep pace with customers` demands.
        %li
          %a.underline{:href => "#"} Lern More
      %ul.left_ul
        %li
          %span
            Business
            %b Applications
        %li
          %p Ensure your employees are equipped with the
          %p office tools and business productivity apps needed
          %p for maximum productivity
        %li
          %a.underline{:href => "#"} Lern More
  #bottomcolumn
    / start bottomcolumn
    %p
      Over
      %b 100,000 bussinesses
      use Mobile Tribe.
    #mobile_logo
      %ul
        %li
          %a{:href => "#"}
            %img{:src => "/assets/PG.png"}/
        %li
          %a{:href => "#"}
            %img{:src => "/assets/sixflags.png"}/
        %li
          %a{:href => "#"}
            %img{:src => "/assets/balfour.png"}/
        %li
          %a{:href => "#"}
            %img{:src => "/assets/jaylormade.png"}/
        %li
          %a{:href => "#"}
            %img{:src => "/assets/greygroup.png"}/
        %li
          %a{:href => "#"}
            %img{:src => "/assets/pandora.png"}/
        %li
          %a{:href => "#"}
            %img{:src => "/assets/giants.png"}/
        %li
          %a{:href => "#"}
            %img{:src => "/assets/media.png"}/
        %li
          %a{:href => "#"}
            %img{:src => "/assets/cleare-chanel.png"}/
        %li
          %a{:href => "#"}
            %img{:src => "/assets/izvizio.png"}/
  / end bottomcolumn
/ end content
